body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;      
}

.content-login {   
    height: 100vh;
    width: 100vw;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    align-items: center; 
}

/* Tela de Login */

.left {
    padding: 10px;
}

.right {
    background-color: #004669;
    color: #EFEFF9;    
    padding: 100px 300px 100px 100px;
    margin: 0;    
}

.right input {
    width: 200px;
    height: 40px; 
    margin: 10px 0px;   
    border-radius: 10px;
    border: hidden;
    background-color: #f2f2f2;
}

.right p {
    font-size: 1rem;
    font-weight: 400;
}

.bt-gold {
    width: 200px;
    height: 50px;
    padding: 15px;
    text-align: center;
    background-color: #FDB43A;
    color: #004669; 
    font-weight: 900;
    border-radius: 50px;
    border: hidden;
}
