body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;       
    height: 100vh;   
    overflow: hidden;
    color: #004669;
}

span {
    font-weight: bold;   
    color: #FDB43A;  
}

ul {
    display: flex;      
}

li {
    list-style: none;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;    
}

li p {
    margin: 0;
    padding-top: 10px;   
}

a {
    text-decoration: none;
}

h1 {
    padding: 10px 0;
    margin: 0;
    font-size: 1.3rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;    
}

h4 {
    font-size: 0.9rem;
}

p {
    font-size: 0.9rem;
    font-weight: 400;  
    margin: 0; 
}

header {
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: 0;        
}

select {
    padding: 10px 20px;
    width: 180px;
    border-radius: 10px;
    color: #004669;
    font-weight: bold;
    margin: 10px;
}

svg {
    margin: 0;
}

.content {     
    display: grid; 
    margin: 0;    
    padding: 0;
    height: 100%;
}

/* LOGIN */

.content-login {
    grid-template-columns: repeat(2, 1fr);    
    height: 100vh;
}

.left {    
    height: 100%;
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.right {
    background-color: #004669;
    color: #EFEFF9;        
    margin: 0;  
    height: 100%; 
    display: flex;
    justify-content: center;  
    align-items: center;
}

.input {
    width: 200px;
    height: 40px; 
    margin: 10px 0px;   
    border-radius: 10px;
    border: hidden;
    background-color: #f2f2f2;
}

.right p {
    font-size: 1rem;    
}

.bt-gold {
    width: 200px;
    height: 50px;
    padding: 15px;
    text-align: center;
    background-color: #FDB43A;
    color: white; 
    font-weight: 700;
    border-radius: 50px;
    border: hidden;
    margin-top: 20px;
}

/* INDEX */

/* Perfil */

.content-index {
    grid-template-columns: 1fr 3fr;   
}

.profile {
    color: #f2f2f2; 
    font-weight: 400;
    height: 100%;  
}



.img-profile {
    background-image: url('../images/img-profile.jpg');
    background-size: 100%;
    border-radius: 100px;
    height: 150px;  
    width: 150px;   
    margin: auto;       
}

.user {
    padding: 15px;
    text-align: center;
    background-color: #205E7D;
    margin: 0;        
}

.user h2 {   
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.user p {   
    font-weight: 400;    
}

.resume {
    background-color: #004669;
    margin: 0;
    padding: 10px 20px;   
    height: 100%;
}

.resume p {   
    padding-top: 10px;
}

p.hoje {    
    font-size: 0.8rem;
    padding: 20px 0px;    
}

.metas {
    display: flex;
    padding-top: 10px;
}

.metas-mes {
    display: flex;    
    align-items: center;
}

.metas-ano {
    display: flex;
    align-items: center;
}

.grafico-cursos {
    padding-top: 20px;
}

/* Feed */

.feed-content {
    padding: 0 30px;
    color: #004669; 
    height: 100%;
}

.feed-content .title {
    color: rgba(22, 61, 81, 0.65);
    font-weight: 900;
    font-size: 1.2rem;    
    padding: 20px 0px 10px 15px;
    margin: 0;
}

.feed-content hr {
    width: 100%;    
    background-color: rgba(255, 255, 255, 0.794);
    height: 1px;
    border: hidden;
}

.box-aniversariantes {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #EFEFF9;
    border-radius: 30px;    
}

.aniversariante {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.aniversariante p {    
    margin: 0;
}

.aniversariante-ft img {
    max-height: 70px;
    border-radius: 50px;
}

.quadro-avisos {
    display: grid;
    grid-template-columns: 2fr 1fr;     
    grid-column-gap: 20px;   
}

.box-cinza {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #EFEFF9;
    border-radius: 30px;  
}

.notif-branca {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.notif-branca:last-child {
    margin-bottom: 0;
}

.title-aviso {
    display: flex;
    justify-content: space-between;        
}

.time {
    display: flex;        
    align-items: center;  
    padding-top: 5px;
    margin: 0;
}

.time svg {
    padding-right: 10px;
}

p.legenda {    
    padding-top: 5px;
}

.title-aviso span {
    font-size: 1rem;
}

.reuniao {
    display: flex;
    margin: 0px;
}

.reuniao p {
    padding-right: 20px;
    margin: 0px;
}

/* OKR's */

.page-content {
    padding: 10px 50px;
}


.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    padding: 10px 20px;    
}

.bold {
    font-weight: 900;
    font-size: 1rem;
}

.objetivos {
    display: flex;          
    padding: 5px 20px; 
    justify-content: space-between;        
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DASHBOARD */

.grid-3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;     
}

.line-grid {
    display: flex;
    justify-content: space-between;            
}

.margin {
    margin-top: 20px;
}

.subtitle {
    padding: 10px 0px;
}

/* BADGES */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto 20px auto;
    grid-gap: 30px;
    justify-items: center;    
}

.grid svg {
    padding: 10px 0px;
}

.align {    
    justify-content: center;
    align-items: center;  
    text-align: center;
    width: 90%;
}

p.peq {
    font-size: 0.8rem;
}

/* FORUM */

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;  
    max-width: 1200px;
    margin: 0 auto 20px auto;
}

.grid-2col .box-cinza {
    overflow-y: scroll;
}

.avatar {    
    max-height: 70px;
    border-radius: 50px;
}

.notif-txt {
    text-align: left;
    padding-left: 20px;
}

.notif-txt h1 {
    margin: 0;
    padding: 0 0 0 10px ;
}

.flex {
    display: flex;
    justify-content: space-between;    
}

.bt-blue {
    width: 180px;
    height: 35px;    
    text-align: center;    
    border-color: #004669; 
    color: #004669;;
    font-weight: 900;
    border-radius: 50px;  
    margin-top: 10px;
}

.gold {
    color: #FDB43A;
}
    

